* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body, a {
  background-color: #f0f0f0;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body.dark-mode {
  background-color: #222222;
  color: #ffffff;
}
body.dark-mode button,
body.dark-mode a,
body.dark-mode a p,
body.dark-mode textarea,
body.dark-mode ::placeholder,
body.dark-mode :focus {
  background-color: #333333;
  color: #ffffff;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #242424;
}
textarea:focus {
  outline-color: #000000;
}
button {
  width: 350px;
  height: 35px;
  margin-top: 5px;
}
.facebook,
.dark {
  text-decoration: none;
  color: #000000;
  border: 2px solid #000000;
  width: 100px;
  padding: 5px;
  left: 0px;
}
.dark{
  border-radius:  0px 20px 20px 20px;
  top: -5px;
}
.facebook{
  position: absolute;
  bottom: 1px;
  border-radius:  20px 20px 20px 0px;
}

#output {
  position: relative;
  top: 5px;
  z-index: 100
}
.notification {
  text-align: center;
  display: none;
  position: fixed;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#darkModeButton {
  position: absolute;
  right: 0;
  width: 90px;
}