* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  position: relative;
  padding: 10px;
  width: 260px;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  color: #616161;
}
.facebook p{
  position: absolute;
  bottom: 1px;
  left: 0;
  padding: 10px;
  width: 130px;
  border: solid #3d3d3d 2px;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 5px 20px 5px 0px;
}
textarea {
  text-align: left;
  resize: none;
}
::placeholder {
  text-align: center;
}
button {
  border-radius: 7px;
}
button:hover, .facebook:hover p{
  color: white;
  background-color: #7a7a7a;
}
#output {
  position: relative;
  top: 5px;
  z-index: 100
}
.notification {
  text-align: center;
  display: none;
  position: fixed;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
